<%= render "search_form" %>
<div class="search-out">
  <div class="search-description"></div>
  <%= render "rt_avail_filters" %>
  <div class="search-results">
    <%= render "rt_sort_header" %>
    <div class="float-left">
      <% @segments,@trip_type = @onward_segments.flt,"rt-f" %>
      <%= render "rt_flights" %>
    </div>
    <div class="float-left">
      <% @segments,@trip_type = @return_segments.flt,"rt-b" %>
      <%= render "rt_flights" %>
    </div>
  </div>
</div>
